@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hack";
  src: url("../../public/fonts/HackNerdFontPropo-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src: url("../../public/fonts/HackNerdFontPropo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("../../public/fonts/HackNerdFontPropo-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src: url("../../public/fonts/HackNerdFontPropo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}